thirdparty/
*.o

# Build
build/
build.txt

# Examples

examples/**/*.exe

# Playground
playground

# Container Data
postgres-data
pgadmin-data
redis-data

# Environment
.env

# MacOS
**/.DS_Store
*.dSYM.zip
*.dSYM

# Python
**/__pycache__